<!doctype html>
<html lang="en">
  <meta cahrset="utf-8">
  <meta name="viewport" content="width-device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <link rel="stylesheet" href="<%= assetFingerprint('/stylesheets/styles.css') %>">
<head>
  <title>Blog node</title>
</head>
  <body>
    <header class="header">
      <div class="container">
        <a href="/" class="logo"></a>
        <ul class="menu">
          <li><a href="/">Hello</a></li>
        </ul>
      </div>
    </header>
