<div class="sidebar">
  <div class="box auth">

    <form action="post" class="login">
      <h2>Entrance</h2>
      <div class="form-group">
        <label for="login-login">Login</label>
        <input type="text" id="login-login" name="login" />
      </div>
      <div class="form-group">
        <label for="login-password">Password</label>
        <input type="password" id="login-password" name="password" />
      </div>
      <div class="buttons">
        <button class="switch-button secondary-inverse">Registration</button>
        <button class="login-button">Enter</button>
      </div>
    </form>

    <form action="post" class="register">
      <h2>Registration</h2>
      <div class="form-group">
        <label for="register-login">Login</label>
        <input type="text" id="register-login" name="login" />
      </div>
      <div class="form-group">
        <label for="register-password">Password</label>
        <input type="password" id="register-password" name="password" />
      </div>
      <div class="form-group">
        <label for="register-password-confirm">Confirm password</label>
        <input type="password" id="register-password-confirm" name="passwordConfirm" />
      </div>
      <div class="buttons">
        <button class="switch-button secondary-inverse">Enter</button>
        <button class="register-button">Registration</button>
      </div>
    </form>

  </div>
  <div class="box">box2</div>
</div>